body {
  height: 100vh;
}

.mouche {
  --angle: 0deg;
  position: absolute;
  width: 50px;
  margin-left: -40px;
  margin-top: -30px;
}

@keyframes tomber {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}